*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  /* scroll-behavior: smooth; */
  font-size: 10px;
}

body{
  background: #f7f7f7;
  font-family: roboto, sans-serif;

}

/* -------Navigation-------- */

#navigation{
  position: fixed;
  z-index: 50;
  width: 100%;
  background: linear-gradient(to bottom, #333, #626262);
  text-align: center;
  height: 12rem;
  clip-path: polygon(0% 0%, 100% 0%,100% 70%, 55% 70%, 50% 90%, 45% 70%, 0% 70%);
  border-bottom: 1px dotted #f1f1f1;
  transition: all 0.4s ease-in-out;
  text-transform: uppercase;
}

#navigation a{
  text-decoration: none;
  font-size: 3rem;
  padding: 1rem 2rem;
  line-height: 6.5rem;
  color: #f1f1f1;
  font-family: kaushan script, sans-serif;
  margin: auto;
  transition: all 0.2s ease-in-out;
}


#navigation .item-nav:hover:nth-child(2){
  color: orange;
 }

 #navigation .item-nav:hover:nth-child(3){
  color: orange;
 }

 #navigation .item-nav:hover:nth-child(4){
  color: white;
  
 }

 #navigation .item-nav:hover:nth-child(5){
  color: green;
 }

 #navigation .item-nav:hover:nth-child(6){
  color: green;
 }


#navigation #titre{
  display: inline-block;
  margin-right: 47rem;
  
}


#navigation img{
  width: 5rem;
  height: 3rem;
  
}

.icon-menu{
  position: fixed;
  right: 12rem;
  width: 5rem;
  z-index: 500;
  display: none;
}



#navigation a:active{
  font-size: 4rem;
}

header{
  height: 100vh;
  width: 100%;
  background: url(./ressources/cig3.jpg);
  background-position: center;
  background-size:cover ;
  border-bottom: 1px dotted #333;
}


h1{
  text-align: center;
  margin: 0;
  position: relative;
  top: 20rem;
  color: whitesmoke;
  font-weight: bold;
  font-size: 11rem;
  font-family: merienda, sans-serif;
  white-space: nowrap;
}

header h2{
  text-align: center;
  margin: 0;
  color: whitesmoke;
  font-weight: bold;
  position: relative;
  top: 20rem;
  font-size: 5rem;
  letter-spacing: 0.2rem;
}

header #arrow{
  text-decoration: none;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1f1f1;
  background: crimson;
  padding: 2rem;
  border-radius: 9999px;
  outline: none;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 0 0 #fff;
  animation: pulse 1.2s infinite;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  to
  {
    box-shadow: 0 0 1rem 1rem rgba(212, 202, 202, 0.5);
  }
}

/* Nos tarifs */

#tarif h2{
  font-size: 4rem;
  text-align: center;
  font-family: merienda, sans-serif;
}
#container-flex{
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  width: 100%;
  justify-content:center;
  margin: 0;
  padding: 0;
}

table #titre-boisson{
  font-size: 2rem;
  
}

.flexCards table{
  height: 35rem;
  width: 20rem;
  margin: 9rem 4rem;
  box-shadow: 5px 10px 10px 1px rgb(22, 16, 5);
  transition: all 0.3s ease-in-out;
  border-collapse: collapse;
  cursor: pointer;
}

.flexCards table:hover{
  transform: translateY(2rem);
  
  
}

.flexCards tr:hover:nth-child(even){
  background: goldenrod;
}

.flexCards tr:hover:nth-child(odd){
  background: ;
}


.flexCards td{
  padding: 1rem;
  font-size: 2rem;
  font-family: merienda;
}

/* Animation carte bg img */

.biere:hover{
  background-image: url(ressources/despe1-.png);
}

.vin:hover{
  background-image: url(ressources/vin1-.png);
  
}

.liq:hover{
  background-image: url(ressources/jack2-.png);
  
}

.champ:hover{
  background-image: url(ressources/champ2.png);
  background-size: cover;
  
}

/* Section paralax */

.paralax{
  height: 30rem;
  width: 100%;
  background-image: url(ressources/champ2.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  
}

/* Media query */

@media screen and (max-width: 1610px){
  #acceuil h1{
    font-size: clamp(6rem, 2.5vw, 5rem);
  }
  #acceuil h2{
    font-size: clamp(4rem, 2.5vw, 3.5rem);
    top:23rem;
  }

  
}

@media screen and (max-width: 1604px){

  #navigation #titre{
    display: inline-block;
    margin-right: 9rem;
  }

  #navigation a:not(.titre){
    font-size: 2rem;
  }
  .paralax{
    position: absolute;
    top: 100rem;
  }
}

@media screen and (max-width: 1604px){

  .paralax{
    position: absolute;
    top: 155rem;
  }

  .flexCards table{
    height: 30rem;
    width: 15rem;
  }

  #navigation #titre{
    display: inline-block;
    margin-right: 6rem;
  }

  #navigation a:not(.titre){
    font-size: 1.4rem;
  }

  #acceuil h1{
    font-size: clamp(4rem, 2.5vw, 5rem);
  }
  #acceuil h2{
    font-size: clamp(2rem, 2.5vw, 3.5rem);
    top:25rem;
  }


  header #arrow{

    padding: 1.5rem;
    font-size: 1.5rem;
   
  }
  
}

@media screen and (max-width:1286px){
  .paralax{
    margin-top: 75rem;
    width: 100%;
  }
}

@media screen and (max-width: 948px){
  header{
    width: 105%;
  }
.container-flex{
  width: 100%;
  overflow: hidden;
}
  .paralax{
    margin-top: 13rem;
    width: 100%;
  }

  .flexCards table{
    height: 30rem;
    width: 15rem;
    margin: 1rem 2rem;
    
  }

  #navigation #titre{
    display: inline-block;
    margin-right: 6rem;
  }

  #navigation a:not(.titre){
    font-size: 1.4rem;
  }

  #acceuil h1{
    font-size: clamp(4rem, 2.5vw, 5rem);
  }
  #acceuil h2{
    font-size: clamp(2rem, 2.5vw, 3.5rem);
    top:25rem;
  }


  header #arrow{
    
    padding: 1.5rem;
    font-size: 1.5rem;
   
  }
  
}


@media screen and (max-width: 797px){
  header{
    width: 105%;
  }
.container-flex{
  width: 100%;
  overflow: hidden;
}
  .paralax{
    margin-top: 60rem;
    width: 105%;
  }

  .flexCards table{
    height: 30rem;
    width: 15rem;
    margin: 1rem 2rem;
    
  }

  #navigation #titre{
    display: inline-block;
    margin-right: 4rem;
  }

  #navigation a:not(.titre){
    font-size: 1rem;
    margin: 0 -1rem;
  }

  #acceuil h1{
    font-size: clamp(4rem, 2.5vw, 5rem);
  }
  #acceuil h2{
    font-size: clamp(2rem, 2.5vw, 3.5rem);
    top:25rem;
  }


  header #arrow{
    
    padding: 1.5rem;
    font-size: 1.5rem;
   
  }
  
}

@media screen and (max-width: 424px){
  header{
    width: 137%;
  }
.container-flex{
  width: 100%;
  overflow: hidden;
}
  .paralax{
    
    display: none;
  }

  .flexCards table{
    height: 30rem;
    width: 15rem;
    margin: 3rem 2rem;
    position: relative;
    left: 6rem;
    
  }

  #navigation #titre{
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  #navigation a:not(.titre){
    font-size: 1rem;
    margin: 0 -1.6rem;
  }

  #acceuil h1{
    font-size: clamp(3.2rem, 2.5vw, 5rem);
  }
  #acceuil h2{
    font-size: clamp(2rem, 2.5vw, 2.5rem);
    top:25rem;
  }


  header #arrow{
    padding: 1.5rem;
    font-size: 1.5rem;
    position: relative;
    left: 13rem;
  }
  
}


/* Section Soirée en image */

.titre-soiree{
  
  text-align: center;
  font-size: 7rem;
  color: #000;
  padding: 5rem 0;
  text-transform: uppercase;
  
  
}

#soiree {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 130rem;
  min-width: 30rem;
  margin: 0 auto 10rem;
}

.btn-modale{
  width: 35rem;
  height: 40rem;
  border: none;
  margin: 1rem;
  cursor: pointer;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.btn-modale:nth-child(1){
  background-image: url(ressources/ressources-soiree/ph1.jpg);
}
.btn-modale:nth-child(2){
  background-image: url(ressources/ressources-soiree/ph2.jpg);
}
.btn-modale:nth-child(3){
  background-image: url(ressources/ressources-soiree/ph3.jpg);
}
.btn-modale:nth-child(4){
  background-image: url(ressources/ressources-soiree/ph4.jpg);
}
.btn-modale:nth-child(5){
  background-image: url(ressources/ressources-soiree/ph5.jpg);
}
.btn-modale:nth-child(6){
  background-image: url(ressources/ressources-soiree/ph6.jpg);
}
.btn-modale:nth-child(7){
  background-image: url(ressources/ressources-soiree/ph7.jpg);
}
.btn-modale:nth-child(8){
  background-image: url(ressources/ressources-soiree/ph8.jpg);
}
.btn-modale:nth-child(9){
  background-image: url(ressources/ressources-soiree/ph9.jpg);
}
.btn-modale:nth-child(10){
  background-image: url(ressources/ressources-soiree/ph10.jpg);
}
.btn-modale:nth-child(11){
  background-image: url(ressources/ressources-soiree/ph11.jpg);
}
.btn-modale:nth-child(12){
  background-image: url(ressources/ressources-soiree/ph12.jpg);
}

.bloc-modal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.75);
  
}