*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  /* scroll-behavior: smooth; */
  font-size: 10px;
}

body{
  background: #f7f7f7;
  font-family: roboto, sans-serif;

}

/* -------Navigation-------- */

#navigation{
  position: fixed;
  z-index: 50;
  width: 100%;
  background-color: black;
  text-align: center;
  height: 10rem;
  clip-path: polygon(0% 0%, 100% 0%,100% 70%, 55% 70%, 50% 90%, 45% 70%, 0% 70%);
  transition: all 0.4s ease-in-out;
}

#navigation a{
  text-decoration: none;
  font-size: 3rem;
  padding: 1rem 5rem;
  line-height: 6.5rem;
  color: #f1f1f1;
  font-family: kaushan script, sans-serif;
  margin: auto;

}






